go 1.25.3

use (
	./gateway
	./pkg
	./proto
	./services/alarm-service
	./services/auth-service
	./services/route-service
	./services/dispatch-service
	./services/telemetry-service
	./services/user-service
	./services/vehicle-service
)
